@model List<Lesson>
<div class="w3l-index-block4 pb-5">
    <div class="features-bg pb-lg-5 pt-lg-4 py-4">
        <div class="container">
            <div class="title-main text-center mx-auto mb-md-4">
                <h3 class="title-big">Lessons</h3>
                <p class="sub-title mt-2">
                    Cum doctus civibus efficiantur in imperdiet deterruisset. Cras efficitur,
                    metus
                    gravida suscipit cursus, dui diam pre lorem id
                    lectus.
                </p>
            </div>
            <div class="row">
                @foreach (var lesson in Model)
                {
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="@lesson.Image" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h4>@lesson.LessonName</h4>
                                    <p>@lesson.LessonDescription</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>